<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div id="book-index">
        <section class="content-header">
            <h1>
                Libro de Compras
                <small>m&oacute;dulo de libro de compras</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li><a href="#">Compras</a></li>
                <li class="active">Librod de Compras</li>
            </ol>
        </section>
        <div class="table-responsive">
            <div class="" style="padding-top: 2em;">
                <span class="col-sm-1 col-md-3"></span>
                <div class="col-sm-6 col-md-5">
                    <div class="thumbnail">
                        <div style="text-align: center;">
                            <i class="fa fa-book" style="font-size: 10em;" ></i>
                        </div>
                        <div class="caption">
                            <h3>Libro de Compras</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <input type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: .5em;">
                                <button class="btn btn-primary">
                                    <i class="fa fa-print">Imprimir</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/sales/book/book-index.js}"></script>
</html>
