<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div id="exchange-index">
        <section class="content-header">
            <h1>
                Cotizaciones
                <small>módulo de cotizacion</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li><a href="#">Compras</a></li>
                <li class="active">Cotizaciones</li>
            </ol>
        </section>
        <div class="table-responsive">

            <div class="box-header" style="float: right;">
                <a th:href="@{/purchase/exchange/form-new}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo</a>
            </div>
            <table id="exchange" class="table table-hover">
                <thead>
                    <tr>
                        <th>Decripci&oacute;n</th>
                        <th>Fecha inicio</th>
                        <th>Fecha fin</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(exchange, index) in valuePages" :key="index">
                        <td>{{exchange.description}}</td>
                        <td>{{exchange.initDate}}</td>
                        <td>{{exchange.endDdate}}</td>
                        <td><span :class="'label ' + classState(exchange.state)">{{exchange.status}}</span></td>
                        <td>
                            <button @click="toEdit(exchange.id)" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></button>
                            <button @click="setIdRemove(exchange)" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal-confirmation"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="col-md-12">
                    <b-pagination v-if="getLength > 0"
                                  :total-rows="getLength" 
                                  v-model="currentPage" 
                                  :per-page="itemPerPages">
                    </b-pagination>
                </div>
            </div>
        </div>
        <template th:replace="modal/modal"></template>
    </div>
    <script th:src="@{/js/purchase/exchange/exchange-index.js}"></script>
</html>