/*Input file*/
* {
    margin: 0px;
    padding: 0px;
}
input,select,textarea{
    border-radius: .3em!important;
    line-height: 1.45!important;
    outline: none!important;
    -webkit-transition: .18s ease-out!important;
    -moz-transition: .18s ease-out!important;
    -o-transition: .18s ease-out!important;
    transition: .18s ease-out!important;
}
input:hover, select:hover,textarea:hover{
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02)!important;
}
input:focus,select:focus,textarea:focus{
    color: #4b515d!important;
    border: 1px solid #B8B6B6!important;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2)!important;
}
.input-div-container {
    position: relative;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}

.input-file {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.picture-box{
	height: fit-content;
	padding-right: .5em;
	padding-left: .5em;
}
.picture-box:hover {
	cursor: pointer;
	background: #f8f9fa!important;
	border: 1px solid #6c757d;
	border-radius: .5em;
}