<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div id="credit-note-index">
        <section class="content-header">
            <h1>
                Nota de Cr&eacute;dito
                <small>m&oacute;dulo de nota de cr&eacute;dito</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li><a href="#">Compras</a></li>
                <li class="active">Cr&eacute;dito</li>
            </ol>
        </section>
        <div class="table-responsive">

            <div class="box-header" style="float: right;">
                <a th:href="@{/purchase/credit-note/form-new}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo</a>
            </div>
            <table id="credit-note-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Timbrado</th>
                        <th>Nro. doc. relacionado</th>
                        <th>Fecha emicio&oacute;n</th>
                        <th>Comentario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(creditNote, index) in valuePages" :key="index">
                        <td>{{creditNote.timbrado}}</td>
                        <td>{{creditNote.num_doc_relacionado}}</td>
                        <td>{{creditNote.fec_emision}}</td>
                        <td>{{creditNote.comentario}}</td>
                        <td>
                            <button @click="toEdit(creditNote.id)" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></button>
                            <button @click="setIdRemove(creditNote)" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal-confirmation"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="col-md-12">
                    <b-pagination v-if="getLength > 0"
                                  :total-rows="getLength" 
                                  v-model="currentPage" 
                                  :per-page="itemPerPages">
                    </b-pagination>
                </div>
            </div>
        </div>
        <template th:replace="modal/modal"></template>
    </div>
    <script th:src="@{/js/purchase/credit_note/credit-note-index.js}"></script>
</html>