<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" th:href="@{/css/product/add-product.css}">
    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <div th:replace="fragments/header::header"></div>
        <div th:replace="fragments/menu::menu"></div>
        <div id="product-app-index">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Producto
                        <small>módulo de compras</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                        <li><a href="#">Compras</a></li>
                        <li class="active">Productos</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="box">
                        <div class="box-header" style="float: right;">
                            <a th:href="@{/purchase/products/form-new}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo</a>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="product-table" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>C&oacute;digo</th>
                                        <th>Nombre del producto</th>
                                        <th>Marca</th>
                                        <th>Categor&iacute;a</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(product, index) in valuePages" :key="index">
                                        <td v-text="product.code"></td>
                                        <td v-text="product.product_name"></td>
                                        <td v-text="product.marca===undefined ? 'Ninguna' : product.marca.description"></td>
                                        <td v-text="product.categoria===undefined ? 'Ninguna' : product.categoria.description"></td>
                                        <td>
                                            <button @click.precent="toEdit(product.id)" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></button>
                                            <button @click.precent="setIdRemove(product)" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal-confirmation"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <div class="col-md-12 row">
                                    <b-pagination v-if="getLength > 0"
                                                  :total-rows="getLength" 
                                                  v-model="currentPage" 
                                                  :per-page="itemPerPages">
                                    </b-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <template th:replace="modal/modal"></template>
        </div>
        <script th:src="@{/js/product/product-list.js}"></script>
        <div th:replace="fragments/footer :: footer"></div>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <div th:replace="fragments/head::footer-js"></div>
</body>
</html>
