<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
</head>
<body>

<div class="col-lg-12" >
    <form action="#" th:object="${budgetSolicitudeProdcutBean}" method="post">
        <div class="col-lg-12" id="productsform">

            <input type="hidden" id="bugetSolicitudeProdcutId" th:value="${buget.id}" th:field="*{bugetSolicitudeProdcutId}">

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Acción</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group" data-select2-id="27">
                            <select class="form-control select2" th:field="*{productId}"
                                    style="width: 100%;" data-select2-id="9" tabindex="-1"
                                    aria-hidden="true">
                                <option th:each="product : ${products}"
                                        th:value="*{product.id}"
                                        th:text="${product.productName}">
                                </option>
                            </select>
                        </div>


                    </td>
                    <td>
                        <div class="form-group">
                            <div class="form-group has-feedback">
                                <input placeholder="10" type="number" min="1" id="10"
                                       class="form-control"
                                       th:value="*{quantity}"
                                       style="text-align: right;">
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" id="add-product" name="addProduct"
                               class="btn btn-primary"><i class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </table>


            <!-- Tabla donde se muestran los datos -->
            <section class="data">
                <caption>Productos</caption>
                <table class="table" id="added-products">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">producto</th>
                        <th scope="col">Cantidad</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="product : ${buget.productList}">
                        <td th:text="${product.productName}">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </section>


        </div>

    </form>

    <!-- bootstrap datepicker -->
    <script th:src="@{/js/datepickertime/moment.min.js}"></script>
    <script th:src="@{/js/datepickertime/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/js/datepickertime/bootstrap-datetimepicker.es.js}"></script>
    <script>
        $(function () {

            $('#initDate').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });

            $('#endDate').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
            });


        });


        $('button[name="addProduct"]').click(function (event) {
            event.preventDefault();
            var data = $('form').serialize();
            // Add parameter "addItem" to POSTed form data. Button's name and value is
            // POSTed only when clicked. Since "event.preventDefault();" prevents from
            // actual clicking the button, following line will add parameter to form
            // data.
            $.post('/buget-solicitudes/add', data);
        });

    </script>

</div>



</body>
</html>