<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div id="credit-sales-index">
        <section class="content-header">
            <h1>
                Nota de Cr&eacute;dito
                <small>m&oacute;dulo de nota de cr&eacute;dito</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li><a href="#">Ventas</a></li>
                <li class="active">Cr&eacute;dito</li>
            </ol>
        </section>
        <div class="table-responsive">

            <div class="box-header" style="float: right;">
                <a th:href="@{/purchase/products/form}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo</a>
            </div>
            <table id="credit-sales-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Cod</th>
                        <th>Cliente</th>
                        <th>RUC</th>
                        <th>Comentario</th>
                        <th>Fecha de recepci&oacute;n</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(creditSales, index) in valuePages" :key="index">
                        <td>{{creditSales.cod}}</td>
                        <td>{{creditSales.client}}</td>
                        <td>{{creditSales.ruc}}</td>
                        <td>{{creditSales.comment}}</td>
                        <td>{{creditSales.reception_date}}</td>
                        <td>
                            <button class="btn btn-xs btn-info" v-on:click="generatePDF(creditSales.cod)"><i class="fa fa-print"></i></button>
                            <button class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="col-md-12 row">
                    <b-pagination v-if="getLength > 0"
                                  :total-rows="getLength" 
                                  v-model="currentPage" 
                                  :per-page="itemPerPages">
                    </b-pagination>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/sales/credit_sales/credit-sales-index.js}"></script>
</html>
