<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div id="assign-packing-index">
        <section class="content-header">
            <h1>
                L&oacute;gistica
                <small>m&oacute;dulo asignar empaque</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li><a href="#">L&oacute;gistica</a></li>
                <li class="active">Asignar empaque</li>
            </ol>
        </section>
        <div class="table-responsive col-md-12" style="padding-top:1em;">
            <div class="panel panel-default" v-for="(assing, index) in valuePages" :key="index">
                <div class="panel-heading">
                    <span><i class="fa fa-globe"></i> ASIGNAR EMPAQUE</span>
                    <div style="float: right;" v-text="'Fecha: '+ toDate(assing.creationDate)"></div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Para</h4>
                            <address>
                                <strong v-text="assing.cliente.name + ' ' + assing.cliente.lastName"></strong>
                                <div>
                                    <span>Telefono: </span>
                                    <span v-text="assing.cliente.telephone !== null && assing.cliente.telephone !== undefined ? assing.cliente.telephone : 'Sin telefono'"></span>
                                </div>
                                <div>
                                    <span>E-mail: </span>
                                    <span v-text="assing.cliente.email !== null && assing.cliente.email !== undefined ? assing.cliente.email : 'Sin e-mail'"></span>
                                </div>
                            </address>
                        </div>
                        <div class="col-sm-4">
                            <h4>Factura pendiente de aprobaci&oacute;n</h4>
                            <address>
                                <div>
                                    <span>ID del pedido: </span>
                                    <span v-text="assing.id"></span>
                                </div>
                                <div>
                                    <span>Pago realizado: </span>
                                    <span v-text="toDate(assing.confirmationDate)"></span>
                                </div>
                            </address>
                        </div>
                        <div class="col-sm-4 form-inline">
                            <h4>Asignar personal de dep&oacute;sito</h4>
                            <div class="form-group">
                                <div class="form-group mb-2">
                                    <span class="col-form-label">Personal de deposito: </span>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <select class="form-control">
                                        <option :value="-1" v-text="'--CHOFERES--'"></option>
                                        <option v-for="(driver, index) in driverList" :key="index" :value="driver.id" v-text="driver.name+' '+driver.lastName"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="padding-top:1em;">
                                <div class="form-group mb-2">
                                    <span class="col-form-label">Vehiculos:</span>
                                </div>
                                <div class="form-group mx-sm-3 mb-2" style="padding-left:4.6em;">
                                    <select class="form-control">
                                        <option :value="-1" v-text="'--VEHICULOS--'"></option>
                                        <option v-for="(vehicle, index) in vehiclesList" :key="index" :value="vehicle.id" v-text="vehicle.brand+' '+vehicle.model"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top:.7em;">
                                <div class="form-group mb-2">
                                    <span>Fecha: </span>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <input type="date" class="form-control" id="date-assign" style="margin-left:6.2em;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="assign-packing-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Calidad</th>
                            <th>Producto</th>
                            <th>C&oacute;digo</th>
                            <th>descripci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(pro, index) in assing.productBeanList" :key="index">
                            <td>{{pro.quantity}}</td>
                            <td>{{pro.product_name}}</td>
                            <td>{{pro.id}}</td>
                            <td>{{pro.description}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="">
                    <span style="padding-top:1em;float: right;"><button class="btn btn-primary">Asignar <i class="fa fa-share"></i></button></span>
                </div>
            </div> 
            <div>
                <div class="col-md-12">
                    <b-pagination v-if="getLength > 0"
                                  :total-rows="getLength" 
                                  v-model="currentPage" 
                                  :per-page="itemPerPages">
                    </b-pagination>
                </div>
            </div>
        </div>
        <template th:replace="modal/modal"></template>
    </div>
    <script th:src="@{/js/logistics/assign_packing/assign-packing-index.js}"></script>
</html>