<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <div id="referral-note-index">
        <section class="content-header">
            <h1>
                L&oacute;gistica
                <small>m&oacute;dulo de Nota de remisi&oacute;n</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
                <li><a href="#">L&oacute;gistica</a></li>
                <li class="active">Nota de remisi&oacute;n</li>
            </ol>
        </section>
        <div class="table-responsive">
            <table id="referral-note-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Cliente</th>
                        <th>RUC</th>
                        <th>Fecha de pedido</th>
                        <th>Fecha entrega pautada</th>
                        <th>Chofer</th>
                        <th>Mobil</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(referral, index) in valuePages" :key="index">
                        <td>{{referral.order}}</td>
                        <td>{{referral.client}}</td>
                        <td>{{referral.ruc}}</td>
                        <td>{{referral.orderDate}}</td>
                        <td>{{referral.deliveryDateAgreed}}</td>
                        <td>{{referral.driver}}</td>
                        <td>{{referral.vehicle}}</td>
                        <td>
                            <button class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-xs btn-success"><i class="fa fa-print"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div class="col-md-12 row">
                    <b-pagination v-if="getLength > 0"
                                  :total-rows="getLength" 
                                  v-model="currentPage" 
                                  :per-page="itemPerPages">
                    </b-pagination>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/logistics/referral_note/referral-note-index.js}"></script>
</html>
